# Config::Simple 4.59
# Thu Feb 23 18:13:28 2012

xml_lang: "en-US"
type: Book
brand: RedHat

debug: 1
show_remarks: 0
docname: Packaging_Guide

version: 1
web_version_label: 1.x
condition: ga

git_branch: docs-rhel-6

